<meta charset="UTF-8">
<title>Free World - ${title}</title>
<meta name="author" content="Bruce">
<meta name="referrer" content="no-referrer">
<link href= "${global_public_url}styles/org-manual.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="static/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="${global_public_url}styles/font.css">
<link rel="stylesheet" media="screen and (min-width: 600px)" href="${global_public_url}styles/post.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="${global_public_url}styles/post_mobile.css">
<link rel="stylesheet" media="screen and (min-width: 600px)" href="${global_public_url}styles/navigatebar.css">
<link rel="stylesheet" media="screen and (max-width: 600px)" href="${global_public_url}styles/navigatebar_mobile.css">
<link rel="stylesheet" href="${global_public_url}theme/highlight.css">
