<div class="navigatebar">
    <div class="navigatebar-button navigatebar-mine">
        <a href="${global_public_url}index.html">Free World</a>
    </div>
    <div class="navigatebar-slogan">
        「生活可以更简单, 欢迎来到我的开源世界」
    </div>
    <div class="navigatebar-button">
        <a href="${global_public_url}index.html">Home</a>
    </div>
    <div class="navigatebar-button">
        <a href="${global_public_url}tags.html">Tags</a>
    </div>
    <div class="navigatebar-button">
        <a href="${global_public_url}wiki/index.html">Wiki</a>
    </div>
    <div class="navigatebar-button">
        <a href="${global_public_url}books/index.html">Books</a>
    </div>
    <div class="navigatebar-button">
        <a href="${global_public_url}archive.html">Archives</a>
    </div>
    <div class="navigatebar-button navigatebar-about">
        <a href="${global_public_url}about.html">About</a>
    </div>
</div>